// Layout Template
//
// Modify `{{LayoutName}}` to a class name(filename recommanded).



#pragma once

#include <Common/Common.h>
#include "../ViewComponent.h"

namespace LUNA::Editor {

class {{LayoutName}} : public ViewComponent {
   public:
    virtual bool Enter() { return false; }
    virtual bool Draw() { return false; }
    virtual bool Close() { return false; }
    virtual ~{{LayoutName}}() = default;
};

}  // namespace LUNA::Editor
